{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="display-2">Welcome to Predictor</h1>
<p style="font-size: 20px;">This app perform machine learning .. using ... blabla ...description.
The library and technology used are:</p>

<ul class="list">
    <li class="list-item">Scikit-learn</li>
    <li class="list-item">Django</li>
    <li class="list-item">Docker</li>
</ul>

<h1 class="display-5">Our team</h1>
<dl class="row">
    <dd class="col-sm-9">Laila ELKOUSSY</dd>
    <dd class="col-sm-9">Albert GUILMOTO</dd>
    <dd class="col-sm-9">Sarobidy RAPETERAMANA</dd>
</dl>

<p>See the source code on our <a href="https://www.youtube.com/watch?v=DPBRGWUgQsA">gitlab repo</a></p>
{%endblock%}